<form [formGroup]="newAssignmentForm" (ngSubmit)='onSubmit()'>
  <mat-form-field>
    <input matInput placeholder="Title" id="title" name="title" formControlName="title">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" placeholder="Weight" id="weight" name="weight" formControlName="weight">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" placeholder="Grade" id="grade" name="grade" formControlName="grade">
  </mat-form-field>
  <br>
  <button mat-button color="primary" [disabled]="!newAssignmentForm.valid || !newAssignmentForm.dirty" type="submit">Submit</button>
</form>
<br><br>
<button mat-button color="warn" *ngIf="assignment_id" (click)="deleteAssignment()">Delete Assignment</button>