<form [formGroup]="concenGroup" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-select formControlName="concentration" name="concentration">
      <mat-option *ngFor="let concen of concentrations" value="{{concen}}">{{concen}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button mat-button color="primary" [disabled]="!concenGroup.valid || !concenGroup.dirty" type="submit">Submit</button>
</form>

<div *ngIf="requirements">
  <h3>Your Progress</h3>
  <div *ngFor="let req of requirements | keyvalue">
    {{ req.value }} <br>
  </div>
</div>